* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  border-radius: 50px;
  color: #fff;
  height: 80vh;
  cursor: pointer;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  position: relative;
  transition: flex 1s ease-in;
}

.panel h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.7s ease-in 0.5s;
}
